<div *ngIf="comment.replies">
    <tr *ngFor="let comment of lstComments">
        <div class="comment" style="margin-left:70px;">
            <p style ="font-size: 10px;" style = "color:grey"> By <a href="" style="color:grey"> {{ comment.user }}</a> On {{comment.created}} |   <a>Has {{comment.total_likes}} Likes </a>
            <tr *ngFor="let id of likes">
                <div *ngIf="true">
                    <a>  |   Liked! </a>
                </div>
            </tr>
            <br>
            <a class=" btn btn-primary btn-sm" href="">
                Unlike comment  |
            </a>
            <a class=" btn btn-primary btn-sm" href="">
                Like comment
            </a>
            <br></p>
                {{ comment.text }} <br>
                    <p style ="font-size: 14px;" style = "color:grey"> <a class=" btn btn-primary btn-sm" href=""><u>reply</u></a></p>
            <ng-include src="replies.html"></ng-include>
        </div>
    </tr>
</div>