<style>
    a { color: black;
        text-decoration:none;
     } 
  </style>
  <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tr>
            <td bgcolor="#ff6600">
                <table border="0" cellpadding="1" cellspacing="5" width="100%"  style="padding:4px">                    <td style="line-height:12pt; height:10px;"> 
                        <span class="pagetop">
                          <b class="hnname"> <a href="">Hacker News </a> </b>
                          <a routerLink="/new"> New </a>  | <a (click)="GoThreads(6)" style="color:white"> Threads</a> | <a routerLink="/ask"> Ask</a> | <a routerLink="/submit"> Submit </a>
                        </span>
                    </td> 
                    <td style="text-align:right;padding-right:4px;">
                      <span class="pagetop">
                        <a (click)="onSelect(6)"> usuari </a> 
                      </span>
                    </td>
                </table>
            </td>
        </tr>          
<table border="0" cellpadding="0" cellspacing="0" class="itemlist">
    <div *ngIf="lstComments; else noComments">
        <tr *ngFor="let comment of lstComments">
            <p style ="font-size: 10px;" style = "color:grey">
                <span style="margin-left:10px"><a (click) = "onSelect(comment.user.id)" style="color:grey"> {{ comment.user }} </a> 
                    <a>on {{ comment.created | date: "MMM. dd, yyyy hh:mm a" }} | </a>
                    <a>Has {{comment.total_likes}} Likes </a>
                    <tr *ngFor="let id of likes">
                        <div *ngIf="true">
                            <a>  |   Liked! </a>
                        </div>
                    </tr>
                    <br>
                    <span style="margin-left:10px"><a class=" btn btn-primary btn-sm" href="" > Unlike Commentary  | </a>
                        <a class=" btn btn-primary btn-sm"  related_name="YYY" href="" > Like Commentary </a>
                    </span>
                </span>
            </p>
            <span style="margin-left:10px"> <a> {{ comment.text }}</a></span>
            <br>
            <p style ="font-size: 14px;" style = "color:grey">  <span style="margin-left:10px"><a class=" btn btn-primary btn-sm" href=""><u>reply</u></a></span></p>
            <div ng-include="'replies.html"></div>
            <div *ngIf="comment.replies" style="margin-left:70px;">
                <tr *ngFor="let reply of comment.replies">
                    <br>
                    <p style ="font-size: 10px;" style = "color:grey">
                        <span style="margin-left:10px"><a (click) = "onSelect(reply.user.id)" style="color:grey"> {{ reply.user}} </a> 
                            <a>on {{ reply.created | date: "MMM. dd, yyyy hh:mm a" }} | </a>
                            <a>Has {{reply.total_likes}} Likes </a>
                            <tr *ngFor="let id of likes">
                                <div *ngIf="true">
                                    <a>  |   Liked! </a>
                                </div>
                            </tr>
                            <br>
                            <span style="margin-left:10px"><a class=" btn btn-primary btn-sm" href="" > Unlike Commentary  | </a>
                                <a class=" btn btn-primary btn-sm"  related_name="YYY" href="" > Like Commentary </a>
                            </span>
                        </span>
                    </p>
                    <span style="margin-left:10px"> <a> {{ reply.text }}</a></span>
                    <br>
                    <p style ="font-size: 14px;" style = "color:grey">  <span style="margin-left:10px"><a class=" btn btn-primary btn-sm" href=""><u>reply</u></a></span></p>
                    <div ng-include="'replies.html"></div>
                </tr>
            </div>
        </tr>
    </div>
    <ng-template #noComments>
        <span style="margin-left:10px"><a> No comments here yet :(</a></span>
    </ng-template>
