<style>
  a { color: black;
      text-decoration:none;
   } 
</style>
<table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
      <tr>
          <td bgcolor="#ff6600">
              <table border="0" cellpadding="1" cellspacing="5" width="100%"  style="padding:4px">                    
                <td style="line-height:12pt; height:10px;"> 
                      <span class="pagetop">
                        <b class="hnname"> <a routerLink="">Hacker News </a> </b> |
                        <a routerLink="/new"> New </a>  | <a (click)="GoThreads(6)"> Threads</a> | <a routerLink="/ask"> Ask</a> | <a routerLink="/submit"> Submit </a> | <a style="color:white"> upvoted</a>
                      </span>
                  </td> 
                  <td style="text-align:right;padding-right:4px;">
                    <span class="pagetop">
                      <a (click)="onSelect(6)"> usuari </a> 
                    </span>
                  </td>
              </table>
          </td>
      </tr>    
   <tr id="pagespace" title="" style="height:10px">
    </tr>      
  <tr>
    <td>
<table border="0" cellpadding="0" cellspacing="0" class="itemlist">
    <tr *ngFor="let com of upvotedComments">
        <p style ="font-size: 10px;" style = "color:grey">
        <a (click) = "onSelect(com.user.id)" style="color:grey"> {{com.user.user.username}} </a>
        <a style="color: grey"> {{ com.created | date: "MMM. dd, yyyy hh:mm a" }} | on: {{ com.contribution.title }}</a>
        <a style="color: grey"> {{ com.contribution.title }} </a></p>
        <a> {{com.text}}</a>
        <hr>
    </tr>
</table>