<style>
    a { color: black;
        text-decoration:none;
     } 
  </style>
  <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tr>
            <td bgcolor="#ff6600">
                <table border="0" cellpadding="1" cellspacing="5" width="100%"  style="padding:4px">                    <td style="line-height:12pt; height:10px;"> 
                        <span class="pagetop">
                          <b class="hnname"> <a routerLink="">Hacker News </a> </b> |
                          <a routerLink="/new"> New </a> | <a routerLink=""> Submit </a> | <a routerLink="/ask"> Ask</a>
                        </span>
                    </td> 
                    <td style="text-align:right;padding-right:4px;">
                      <span class="pagetop">
                        <a href=""> usuari </a> 
                      </span>
                    </td>
                </table>
            </td>
        </tr>          
    <tr>
      <td>


  <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
      <td class ="title">
          <tr class='athing' id='25409416'>
            <a >{{Contribution.title}}</a>
          <br>
          <p style ="font-size: 10px;" style = "color:grey">
            <a style = "color:grey"> On {{Contribution.date| date: "MMM. dd, yyyy hh:mm a"}} by </a> 
            <a [routerLink]="['/profile', Contribution.user.user.id]" style="color:black"> {{Contribution.user.user.username}}</a>
            <a style = "color:grey">   |    Has {{Contribution.likes.length}} Likes </a>
            <a > {{Contribution.ncomments}} comments</a>  <br>
            <div *ngIf="Contribution.url.length > 0">
              <a > {{Contribution.url}} </a>
            </div>
            <div *ngIf="Contribution.ask.length > 0">
            <a> {{Contribution.ask}} </a>
            </div>
            <button (click)="likeContribution(Contribution.id);">Like</button>
            <button (click)="UnlikeContribution(Contribution.id);">Unlike</button>
            <br><br><form (ngSubmit)="addCommentary()">
              <table border="0">
                  <tr>
                      <td>
                          Text
                      </td>
                      <td><textarea [(ngModel)]="model.text" #about="ngModel" cols="60" rows="5" name="about" placeholder="{{model.text}}" style="color:black">{{model.text}}</textarea></td>
                    
                  </tr>
                  </table></form>
            <div class="container-btn">
              <button class="btn btn-success"> Add Commentary </button>
            </div><br>

            <a>Commentaries</a><br>
            
            <ng-container *ngFor="let com of Contribution.commentas">

              <p *ngIf="com.father_comm==null && com.text!=' '">
              <a>{{com.text}}</a></p>

              <p style ="font-size: 10px;" style = "color:grey">
                <a style = "color:grey"> On {{com.created| date: "MMM. dd, yyyy hh:mm a"}} by </a> 
                <a [routerLink]="['/profile', com.user]" style="color:black"> {{Contribution.user.user.username}}</a>
                <a style = "color:grey">   |    Has {{com.likes.length}} Likes </a><br>
                <button (click)="likeCommentary(com.id);">Like</button>
                <button (click)="UnlikeCommentary(com.id);">Unlike</button><br>

              <ng-container *ngFor="let rep of com.replies">
                
                <p style="margin-left:100px">
                  <a>{{rep.text}}</a><br></p>

                  <span style="margin-left:100px"> <a style = "color:grey"> On {{rep.created| date: "MMM. dd, yyyy hh:mm a"}} by </a> 
                  <a  [routerLink]="['/profile', rep.user]" style="color:black"> {{Contribution.user.user.username}}</a>
                  <a  style = "color:grey">   |    Has {{rep.likes.length}} Likes </a><br></span>
                  <button  style="margin-left:100px"(click)="likeCommentary(rep.id);">Like</button>
                  <button (click)="UnlikeCommentary(rep.id);">Unlike</button><br><br>

                <ng-container *ngFor="let rep2 of rep.replies">
                 <span style="margin-left:200px"><a>{{rep2.text}}</a><br></span>
                    <span style="margin-left:200px"> <a style = "color:grey"> On {{rep2.created| date: "MMM. dd, yyyy hh:mm a"}} by </a>
                    <a [routerLink]="['/profile', rep2.user]" style="color:black"> {{Contribution.user.user.username}}</a>
                    <a style = "color:grey">   |    Has {{rep2.likes.length}} Likes </a><br></span>
                    <button style="margin-left:200px"(click)="likeCommentary(rep2.id);">Like</button>
                    <button (click)="UnlikeCommentary(rep2.id);">Unlike</button><br>

                </ng-container>
              </ng-container>

<!--              <ng-template #elseBlock>
              <p style="margin-left:10px">
              <ng-container *ngFor="let rep of com.replies">
                <p style="margin-left:20px">
                <a>{{rep.text}}</a></p> <br>
              </ng-container>
              </ng-template>-->
        </ng-container> 
      </td>  
  </table>
  </td>
  </tr>
  </table>
