<style>
    a { color: black;
        text-decoration:none;
     } 
  </style>
  <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tr>
            <td bgcolor="#ff6600">
                <table border="0" cellpadding="1" cellspacing="5" width="100%"  style="padding:4px">                    
                  <td style="line-height:12pt; height:10px;"> 
                        <span class="pagetop">
                          <b class="hnname"> <a routerLink="">Hacker News </a> </b> |
                          <a routerLink="/new"> New </a>  | <a (click)="GoThreads(6)"> Threads</a> | <a routerLink="/ask"> Ask</a> | <a routerLink="/submit"> Submit </a>
                        </span>
                    </td> 
                    <td style="text-align:right;padding-right:4px;">
                      <span class="pagetop">
                        <a (click)="onSelect(6)"> usuari </a> 
                      </span>
                    </td>
                </table>
            </td>
        </tr>    
     <tr id="pagespace" title="" style="height:10px">
      </tr>      
    <tr>
      <td>
<div *ngIf="profile.id == 6; else noIgual">
    <form (ngSubmit)="updateProfile(profile.id)">
  <table border="0" cellpadding="0" cellspacing="0" class="itemlist">   
        <tr>
            <td>username:</td>
            <td><a (click)="onSelect(profile.id)"> {{profile.user.username}} </a></td>
        </tr>
        <tr>
            <td>created:</td>
            <td>{{profile.created}}</td>
        </tr>
        <tr>
            <td>karma:</td>
            <td>{{profile.karma}}</td>
        </tr>
        <tr>
            <td>about:</td>
            <td><textarea [(ngModel)]="model.about" #about="ngModel" cols="60" rows="5" name="about" placeholder="{{profile.about}}" style="color:black">{{profile.about}}</textarea></td>
        </tr>
        <tr>
            <td>email:</td>
            <td>{{profile.user.email}}</td>
        </tr>
        <br>
        <tr>
            <td><a (click)= "GoSubmissions(profile.id)"><u>submissions</u></a></td>
        </tr>
        <tr>
            <td><a (click)="GoThreads(profile.id)"><u>comments</u></a></td>
        </tr>
        <tr>
            <a (click)= "GoUpvotedS(profile.id)"><u>upvoted submissions</u></a>
            / 
            <td><a (click)= "GoUpvotedC(profile.id)"><u>comments</u></a></td>
        </tr>
    </table>
        <br>
        <button class="button" type="submit">Update</button>
        </form>
    </div>
    <ng-template #noIgual>
        <table border="0" cellpadding="0" cellspacing="0" class="itemlist">   
            <tr>
                <td>username:</td>
                <td><a (click)="onSelect(profile.id)"> {{profile.user.username}} </a></td>
            </tr>
            <tr>
                <td>created:</td>
                <td>{{profile.created}}</td>
            </tr>
            <tr>
                <td>karma:</td>
                <td>{{profile.karma}}</td>
            </tr>
            <tr>
                <td>about:</td>
                <td>{{profile.about}}</td>
            </tr>
            <tr>
                <td>email:</td>
                <td>{{profile.user.email}}</td>
            </tr>
            <br>
            <tr>
                <td><a (click)= "GoSubmissions(profile.id)"><u>submissions</u></a></td>
            </tr>
            <tr>
                <td><a (click)="GoThreads(profile.id)"><u>comments</u></a></td>
            </tr>      
        </table>
    </ng-template>
    </td>
  </tr>
</table>