<style>
    a { color: black;
        text-decoration:none;
     } 
  </style>
  <div *ngIf="lstMessages">
        <tr *ngFor="let message of lstMessage">
            <p>message</p>
        </tr>
  </div>
  <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tr>
            <td bgcolor="#ff6600">
                <table border="0" cellpadding="1" cellspacing="5" width="100%"  style="padding:4px">                    <td style="line-height:12pt; height:10px;"> 
                        <span class="pagetop">
                          <b class="hnname"> <a href="">Hacker News </a> </b>
                          <a routerLink="/new"> New </a>  | <a (click)="GoThreads(6)"> Threads</a> | <a routerLink="/ask"> Ask</a> | <a routerLink="/submit" style="color:white"> Submit </a>
                        </span>
                    </td> 
                    <td style="text-align:right;padding-right:4px;">
                      <span class="pagetop">
                        <a (click)= "onSelect(6)"> usuari </a> 
                      </span>
                    </td>
                </table>
            </td>
        </tr>          
    <tr>
      <td>
<form (ngSubmit)="onSubmit()">
<table border="0">
    <tr>
        <td>
            title
        </td>
        <td>
            <input type="text" name="title" value="" size="50" oninput="tlen(this)" onfocus="tlen(this)" required [(ngModel)]="model.title" #title="ngModel">
            <span style="margin-left:10px"></span>
        </td>
    </tr>
    <tr>
        <td>
            url
        </td>
        <td>
            <input type="text" name="url" value="" size="50" [(ngModel)]="model.url" #url="ngModel">
        </td>
    </tr>
        <tr>
            <td></td>
            <td>
                <b>
                    or
                </b>
            </td>
        </tr>
        <tr>
            <td>text</td>
            <td>
                <textarea name="text" rows="4" cols="49" [(ngModel)]="model.text" #text="ngModel"></textarea>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="submit" class="btn btn-success">
            </td>
        </tr>
        <tr style="height:20px"></tr>
        <tr>
            <td></td>
