<style>
  a { color: black;
      text-decoration:none;
   } 
</style>
<table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
      <tr>
          <td bgcolor="#ff6600">
              <table border="0" cellpadding="1" cellspacing="5" width="100%"  style="padding:4px">                    
                <td style="line-height:12pt; height:10px;"> 
                      <span class="pagetop">
                        <b class="hnname"> <a routerLink="">Hacker News </a> </b> |
                        <a routerLink="/new"> New </a>  | <a (click)="GoThreads(6)"> Threads</a> | <a routerLink="/ask"> Ask</a> | <a routerLink="/submit"> Submit </a> | <a style="color:white"> upvoted</a>
                      </span>
                  </td> 
                  <td style="text-align:right;padding-right:4px;">
                    <span class="pagetop">
                      <a (click)="onSelect(6)"> usuari </a> 
                    </span>
                  </td>
              </table>
          </td>
      </tr>    
   <tr id="pagespace" title="" style="height:10px">
    </tr>      
  <tr>
    <td>
<table border="0" cellpadding="0" cellspacing="0" class="itemlist" width="100%">
  <tr *ngFor="let com of upvotedsubmissions">
    <td class ="title">
        <tr class='athing' id='25409416'>
          <div *ngIf="com.url; else noUrl">
            <a href ="{{com.url}}" >{{com.title}}</a>
          </div>
         <ng-template #noUrl> <!-- PONER ENLACE A LA CONTRIBUTION --> 
          <a href ="" >{{com.title}}</a>
         </ng-template>
        <br>
          <a style = "color:grey"> On {{ com.date | date: "MMM. dd, yyyy hh:mm a" }} by </a> 
          <a (click) = "onSelect(com.user.id)" style="color:grey"> {{com.user.user.username}}</a>
          <a style = "color:grey">   |    Has {{com.likes.length}} Likes </a>
          <br>
          <a href="" style="color:grey"> {{com.ncomments}} comments</a> 
        </tr> 
        <hr ng-repeat-end /> 
    </td>         
  </tr>
</table>
</td>
</tr>
</table>